.content {
    grid-area: c;
    background-color: cornflowerblue;
    padding: 15px;
}

.user{
}

.user_cover{
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}

.user_img{
    width: 150px;
    height: 150px;
    margin-right: 30px;
}
.user_info{
    display: flex;
    margin-bottom: 15px;
}

.user_info p{
    margin-bottom: 0;
    margin-top: 0;
}