.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
}

.messages {
    padding: 0 30px 60px;
    width: calc(100% - 60px);
    position: relative;
}

.addMessage{
    width: 100%;
    position: absolute;
    bottom: 0;
    width: calc(100% - 60px);
}